</div>
<div class="row footer">
    <div class="col-md-12">
       <p>Have your child learn from The Best Math Tutor in Raleigh &copy | Michelle Myers 2017</p>
    </div>
</div>
<div class="row footer">
    <div class="col-md-12">
       <p><strong>Phone:</strong> <% include ../partials/components/phoneNumber %> | <strong>Email:</strong> <a href="mailto:thinkn_positive@yahoo.com">thinkn_positive@yahoo.com</a> | Best Raleigh Math Tutors.com </p>
    </div>

</div>

</div>

</body>
</html>
