<% include ../partials/header %>
<%= body %>

<div class="row">
  <!-- <img src="images/michelle-teaching1.jpg" title="test" />  -->
  <img src="images/michelle.jpg" title="Michelle Myers" class="img-thumbnail" />
  <div class="page-header">
    <h1>Michelle Myers <small>Professional Math Tutor: Raleigh North Carolina</small></h1>
  </div>
</div>
<% include ../partials/footer %>
