<% var pageTitle = "Pricing"; %>
<% include ../partials/header %>
<% include ../partials/pagename %>



<div class="row">

    <% var pricingTitle = "4 Hour Package" %>
    <% var pricingHeading = "Meet with me weekly" %>
    <% var pricingPrice = "180" %>
    <% var pricingSummary1 = "4 Hour Package" %>
    <% var pricingSummary2 = "Meet Once a Week" %>
    <% var pricingSummary3 = "One Month Commitment" %>
    <% include ../partials/components/price-item %>


    
    <% var pricingTitle = "8 Hour Package" %>
    <% var pricingHeading = "Meet with me Two Hours a Week" %>
    <% var pricingSummary1 = "8 Hour Package" %>
    <% var pricingSummary2 = "Meet 1HR Twice a week" %>
    <% var pricingSummary3 = "or 2HRs Once a Week" %>
    <% var bestOffer = true %>
    <% var pricingPrice = "325" %>
      <% include ../partials/components/price-item %>


    <% var bestOffer = false %>
    <% var pricingTitle = "1 Hour - Pay Per Session" %>
    <% var pricingHeading = "No Commitment or Advanced Deposit" %>
    <% var pricingPrice = "50" %>

    <% var pricingSummary1 = "No Commitment Required" %>
    <% var pricingSummary2 = "Pay as you go" %>
    <% var pricingSummary3 = "Schedule 1 Session" %>
    <% include ../partials/components/price-item %>

</div>
<div class="alert alert-warning" role="alert">Meeting days and times will be scheduled in advance.</div>
<div class="alert alert-warning" role="alert">Expires 30 days from date of purchase. Unused hours may NOT be rolled over into the next month.</div>
<div class="alert alert-warning" role="alert">Package will need to be renewed each month. No partial refunds.</div>




<% include ../partials/footer %>
