<% var pageTitle = "Tutoring Experience"; %>
<% include ../partials/header %>
<% include ../partials/pagename %>



<div class="row">
  <div class="col-sm-6">
    <h2>Educational Background and Experiences</h2>
    <p>I attended school at Stone County in Wiggins, MS until my last two years of high school
       when I got accepted to the Mississippi School for Math and Science in Columbus, MS.
       I graduated from MSMS in 2002 and accepted the Presidential Scholarship, one of only
       ten full-tuition scholarships offered that year, from the University of Southern Mississippi
       in Hattiesburg, MS. I graduated from USM in December 2006 from the Honors College Magna cum
       Laude with a BSBA in Business Administration and a 3.55 GPA.  I later attended William Carey
       University in Hattiesburg, MS to pursue an alternate route teaching certificate. I became certified
      to teach 4-8th grades.</p>

      <p>I have taken the ACT atleast a dozen times.
        The first time I took it was in 7th grade as part of the Duke University Talent Identification Program.
         I scored 18 that first time.  I took it every year thereafter until I graduated high school. Some years
         I took it 3 times.  My highest score is a 31, but I scored 30 several times after that.</p>

      <p>My students are shocked to find out that I am not a math major, nor did I take any math courses
            in college (I CLEPed/tested out of college algebra), but I can explain math to them better than
            their math instructors.  I focus less on 'why' and more on 'how' to work math problems.  I use metaphors
            to make the steps of a problem make sense.  I teach students how to translate word problems into math language.
            My strength is in my explanations and ability to communicate with and relate to students.  Not everyone that knows
            how to do the math can explain it.  I combine my natural talent for teaching and my ability to easily understand math
             with my passion for helping others.</p>
      <p>I had my first paid tutoring job when I was still in middle school.
        I tutored a boy older than me in 9th grade algebra.  He went from failing the course to a B average.
        It was my first taste of success.</p>

      <p>In college I tutored a wheelchair-confinded young girl in approximately 3rd grade.
        I visited her home in the Timberton Community weekly to help with homework.
        She was very bright, but her parents felt she needed a little extra attention.
        We developed a great relationship, and she did well.</p>

        <p>Later, while still in college, I began tutoring a young girl approximately in 4th grade.
          I helped her in all subjects atleast once a week for a few hours until her parents got home from work.
          She was my first serious challenge.  Trying to teach her how to tell time on a clock was like working with Helen Keller, but I never gave up.
          After weeks the breakthrough finally came!  I used many hands-on approaches until she understood.
          It gave me hope that I could help anyone with a little patience and enough time.</p>

          <p>Once I graduated I helped a few people here and there, mostly friends who needed help with the ACT or college math.  Everyone told me I had a real knack for tutoring; that I was a natural teacher.  Not surprisingly, I come from a family of teachers.  My mother is a gifted teacher, and I have an uncle who was a math teacher and is now a principal.</p>

          <p>Recently I have tutored adults through word of mouth and ads on UniversityTutor.com, Facebook, Craigslist, and Wyzant.  I've helped adult students wanting to attend nursing school improve their math in preparation for the ACT.  I have also helped with online college algebra courses.  Most of the adults I have tutored told me they have had several tutors before that could not help.  It was these very students that urged me to tutor full time so as not to let my talents go to waste.  I appreciate all their encouragement and referrals.</p>

          <p>I have tutored college-level math (MAT 99, 100, 101) to Southern Miss football players and a few other USM athletes.  I summarized my notes using my easy-to-understand explanations and steps for all the online homework problems in those 3 math courses, giving photocopies of my notes to the student athletes throught the semester,  as well as prepared a study guide of formulas to memorize for the final exam.    My notes have been a lifesaver to my students who have limited time to study due to practices and other athletic responsibilities.</p>

          <p>Summer of 2011-2016, I worked as a math teacher for the Dr. Karnes Gifted Studies Program at Southern Miss  in Hattiesburg, MS helping gifted students receive high school credit for pre-algebra, algebra, geometry, and algebra II through self-study during a three-week residential summer program.  Being a student of the same program myself as a geometry student, as well as working with these students summer after summer, has given me much needed experience with the gifted population.  I have found gifted students have a unique set of challenges when it comes to math tutoring, especially if they are not used to struggling in any area of school.</p>

          <p>For the 2011-2012 school year I worked at Wilburn Year-Round Elementary in Raleigh, NC as a tutor for 5th grade and tutored 2 to 3 private students weekly in the evenings in algebra.  I also worked with Sylvan Ace-It program as an after-school tutor in reading, tutoring 4th-6th graders in groups of 6 using Sylvan's phonics program.</p>

          <p>I typically tutor 6-12 students weekly (some on a set weekly schedule and others as needed).  My students range from pre-algebra, algebra, and honors algebra II students to adults preparing for the Wake Tech compass test or taking pre-curriculum courses at Wake Tech.  I took a Calculus class at Northern Wake Tech campus Fall of 2012 to brush up on my skills.</p>

          <p>I also offer summer tutoring in June and August to improve skills or keep them fresh while school is out.  Though my time is limited in the summer because I work for the Gifted Summer Program in Mississippi every July.</p>

          <p>As an independent tutor I provide one-on-one educational instruction for a reasonable  fee either in your home or a location of your choosing.</p>
  </div>
  <div class="col-sm-6">
      <img src="images/michelle-student2.jpg" title="Michelle Myers teaching Math in Raleigh North Carolina"  />
    <h2>My Students</h2>
    <p>This section is meant to give you an overview of my typical students,
      what I help them with, and how often for the Fall 2012 semester.
      I will only use their first initial, identifying gender and town, to protect their identies.</p>


<p>
M. (female, Cary) - Special Topics of Math (algebra I); 2-3 hrs weekly, schedule varies (with occasional same-day service requests)
<p>
</p>
D. (male, Apex) - Common Core I; 1 hour weekly, set day and time
<p>
</p>
H. (female, Cary) - Honors Algebra II; 2 hrs weekly, set days and time
<p>
</p>
R. (female, Cary) - Honors Algebra II; 2 hrs weekly, set days and time
<p>
</p>
B. (male, Apex) - Common Core I; 1 hour weekly, set day and time
<p>
</p>
J. (male, West Cary) - 6th grade Math; 1 hour weekly, set day and time (additonal sessions added as needed)
<p>
</p>
A. (female, Holly Springs) - Common Core I; 1 hour weekly, set day and time
<p>
</p>
B. (male, Cary) - Common Core I; 1 hour weekly, set day and time   (additional sessions added as needed)
<p>
</p>
L. (female, Raleigh) - 6th grade Math; 1 hour weekly, set day and time
<p>
</p>
N. (female, Cary) - Honors Algebra II; as needed (averages 1 hour weekly), schedule varies
<p>
</p>
L. (female, Cary) - Honors Algebra II; 2 hrs weekly, schedule varies
<p>
</p>
K. (female) - Algebra II; as needed, contacts me when needed
<p>
</p>
M. (female, N. Raleigh) - Algebra II; as needed, contacts me infrequently
<p>
</p>
A. (female, West Cary) - Common Core I; 1 hour weekly, set day and time (additional sessions added as needed, including same-day service)
<p>
</p>
K. (female, Holly Springs) - Common Core I; 1 hour weekly, schedule varies
<p>
</p>
M. (female, Apex) - Common Core I; 1 hour weekly, set day and time
<p>
</p>
C. (male, Apex) - Algebra II; one time help
<p>
</p>
J. (adult male, Downtown Cary Library) - Wake Tech MAT 070; as needed, for 2 hour time blocks, schedule varies
<p>
</p>
M. (adult female, Cameron Village Library) - Preparing to take Compass Test for Wake Tech; 1-2 hour sessions weekly, set day and time
</p>
  </div>
</div>



<% include ../partials/footer %>
