<div class="thumbnail text-center">
  <!-- <img src="images" alt="..."> -->

  <div class="caption">
    <h2><%= pricingTitle %>/h2>
    <h3><%= pricingHeading %></h3>
    <div class="alert alert-success" role="alert">$ <%= pricintPrice %> USD</div>
    <p><%= pricingSummary %></p>
    <p><a href="#" class="btn btn-primary" role="button">Buy Now</a></p>
  </div>
</div>
