<div class="table-responsive">
  <table class="table table-striped table-hover">
  <thead>
    <tr class="active">
      <th class="col-md-8"><%= column1 %></th>
      <th class="col-md-2"><%= column2 %></th>
      <th class="col-md-2"><%= column3 %></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < data.length; i++) { %>
       <% var name = data[i].column1 %>
       <% var type = data[i].column2 %>
       <% var size = data[i].column3 %>
       <% include ./worksheet-row %>
    <% } %>
  </tbody>
  </table>
</div>
