
  <tr class="pointer" data-target=".bs-example-modal-sm" data-toggle="modal">
    <td class="col-md-8"><%= name %></td>
    <td class="col-md-2"><%= size %></td>
    <td class="col-md-2"><%= type %></td>
  </tr>
